{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<div class = "contenedorFormulario">
  
    {% for post in posts %}
    <!-- Heading -->
    <section class="page-section clearfix">
      <div class="container">
        <div class="card">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img class="card-img" src="{% if post.imagen %}{{post.imagen.url}}{% endif %}" alt="">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title" style="white-space: normal;">{{post.titulo}}</h2>
                <p class="card-text">{{post.contenido}}</p>
                <div class="card-footer">
                  <small>Autores: {{post.autores}}</small>
                  <small class="text-muted">Autor: {{post.autor}}</small>
                </div>
                <div class="card-footer">
                  <a href="{{post.doi}}" target="_blank">Ver más</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}
    
    <section>
        <div style="width: 75%; margin: auto; text-align: center; color: white;">
            Categorías: 
            {% for post in posts %}
              {% for categoria in post.categorias.all %}
                <a href="{% url 'Categoria' categoria.id %}" class="linksCategorias" > {{categoria.nombre}} </a> &nbsp;&nbsp;&nbsp;
              {% endfor %}
            {% endfor %}
        </div>
    </section>

  </div>
{% endblock %}