{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/home1.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Better selection<br>Better chances</span>
            <span class="section-heading-lower">Redefining IVF’s future.</span>
          </h2>
          <p class="mb-3"></p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper"></span>
                <span class="section-heading-lower">What we do</span>
              </h2>
              <p class="mb-0">Of the 50 Million embryos produced by in vitro fertilization techniques every year, about 70% fail to implant because current selection techniques are subjective, non-parameterizable, and lack accuracy.<br>
                To meet this challenge, we are developing an AI-powered technology convergence platform capable of analyzing clinical patient data, embryo metabolomic information, genetic profiles, and morphokinetic imaging of embryo development. This will enable us to provide revolutionary insight into the implantation potential of each embryo.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}